nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 200px;
    overflow-x: hidden;
    background-color: white;
}

nav .container {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0 24px;
}

Link.logo {
    color: black;
    font-size: 1.5em;
    justify-self: flex-start;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

img {
    height: 50px;
    object-fit: contain;
}

nav ul {
    display: grid;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    align-items: center;
    list-style: none;
    text-align: center;
    padding-inline-start: 0;
}

nav li {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav li svg {
    width: 30px;
}

ul a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    cursor: pointer;
    height: 100%;
}

ul a:hover {
    font-weight: bold;
    transition: 0.1s ease-in-out;
}

.active {
    font-weight: bold;
}

.container .btn button {
    border: none;
    font-size: 1.2em;
    border-radius: 7px;
    margin: 0 5px;
}

.container .btn button.deposit
{
    font-weight: bold;
    padding: 10px 40px;
    background: linear-gradient(180deg, #00CD99 0%, #32EE97 100%);
    color: white;
}

.container .btn button.sign-out {
    padding: 10px 30px;
    background-color: white;
}
